/* Styles go here */

.page-header, .page-header-space {
  height: 110px;
}

.page-header {
  position: fixed;
  top: 0mm;
  width: 100%;
  border-bottom: 1px solid black;
  background: white; /* for demo */
}
.page-header label {
  width: 120px;
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}

.page-header label::after { 
  content: ':';
  position: absolute;
  right: 0;
  top: 0;
}

.page-header .left{
  width: 60%;
}

.page-header .right{
  width: 40%;
}

.page-header .left > div, 
.page-header .right > div{
  margin-bottom: .5rem;
}

.page {
  page-break-after: always;
}

.page .print-top-title{
  font-size: 12pt;
  margin-bottom: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.page .print-section .print-title{
  font-size: 11pt;
  /*margin-bottom: 1.25rem;*/
}

.page .print-section .print-title-last{
  font-size: 11pt;
  margin-bottom: 0;
}

.page .print-section .print-title .print-title__number{ 
  margin-right: .5rem;
}

.page .print-section .print-section__body.print-section__body--sikap {
  margin-left: 2rem;
}
.page .print-section .print-section__body .print-section__title{
  font-size: 12pt;
}

.page .print-section .print-section__body .print-section__row{
  margin-bottom: 5rem;
}
.page  .print-section .print-section__body .print-section__table {
  border-collapse: collapse;
  width: 100%;
  font-size: 11pt;
  margin-bottom: 10px;
}

.page  .print-section .print-section__body .print-section__table th,
.page  .print-section .print-section__body .print-section__table td { 
  padding: 2px 10px;
}

.page  .print-section .print-section__body .print-section__table th {
  font-weight: 700;
}

.page  .print-section .print-section__body .print-section__table.table-pd-lg th,
.page  .print-section .print-section__body .print-section__table.table-pd-lg td {
  padding: 1.25rem;
}

.page .print-section .print-section__body .print-section__table th, 
.page  .print-section .print-section__body .print-section__table td {
  border: 1px solid #000;
}

 .print .print-footer{
    color: #333 ;
    font-size: 12pt;
    top: 0;
    width: 80%;
    background: #fff;
    text-align: center;
    margin-left: 3rem;
    /*margin-bottom: 120px;*/
  }

  .print .print-footer label {
    width: 300px;
    display: inline-block;
    margin-bottom: 0;
  }

  .print .print-footer .head { 
    margin-bottom: 50px;
  }

  .print .print-footer .left{
    width: 70%;
    text-align: left;
  }

  .print .print-footer .right{
    width: 30%;
    text-align: left;
  }
  .print .bottom{
    text-align:center;
    width: 100%;
    margin-top: 10px;
  }


@page {
  margin: 1in 1in 1in 1in;
}

@media print {
 thead {display: table-header-group;} 
 tfoot {display: table-footer-group;}

 button {display: none;}

 body {margin: 0;}
}

.d-flex{
  display: flex;
}

.text-center{
  text-align: center;
}
.text-justify{
  text-align: justify;
}

.text-bold{
  font-weight: 700;
}

.text-size-10{
  font-size: 10pt;
}

.text-size-11{
  font-size: 11pt;
}

.text-size-12{
  font-size: 12pt;
}
.text-size-13{
  font-size: 13pt;
}